<div *ngIf="isLogged()"><app-menu-navbar-loggeado /></div>
<div *ngIf="!isLogged()"><app-menu-navbar-sin-loggear /></div>

<div class="container mt-5 p-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/shop']">diveHub shop</a></li>
    <li class="breadcrumb-item active">{{ product.name }}</li>
  </ol>

  <div class="articles mt-5 row align-items-start">
    <div class="col-md-4">
      <img [src]="product.image" class="card-img">
    </div>

    <div class="col-md-8 mt-3">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>

      <div class="row align-items-center">
        <div class="col-md-6">
          <span class="pb-1">({{media}}/5) </span>
          <div class="rating-stars" *ngFor="let star of [1,2,3,4,5]">
            <span class="star" [ngClass]="{'filled': star <= getMedia()}">&#9733;</span>
          </div>
        </div>
        <span class="rating-count col-md-6"><a class="valor" (click)="scrollToDiv()">({{totalAssessmts}} valoraciones)</a></span>
      </div>

      <div class="d-flex align-items-center mt-5">
        <p class="price me-4">{{ parseToPrice(product.starting_price, 0) }}<span class="decimal">
          {{ parseToPrice(product.starting_price, 1) }}</span>&nbsp;&nbsp;&nbsp;€</p>
        <p class="text-success"><del>{{ product.final_price }} €</del></p>
      </div>

      <div *ngIf="!isItem" class="product-info">
        <p>Nivel requerido: <strong>{{ activity.level_required }}</strong></p>
            
        <div class="mt-5 square text-center">
          <div class="d-flex justify-content-center">
            <p>Huecos disponibles: {{ activity.available_spaces }}</p>
            <div *ngIf="isAdmin">
              <a (click)="updateAvailabledSpaces(activity.id)"><i class="fa-solid fa-plus btn btn-primary mx-3"></i></a>
            </div>
          </div>
          <div class="row">
            <button class="col-md-12 btn btn-warning" *ngIf="!isLogged()" data-bs-toggle="offcanvas" data-bs-target="#login"
              [disabled]="activity.available_spaces<=0">Añadir actividad a la cesta</button>
            <button class="col-md-12 btn btn-warning" *ngIf="isLogged()" (click)="addToCart(activity)"
              [disabled]="activity.available_spaces<=0||!isActivityAvailable||!isActivityAvailableByLvl||isInCart">Añadir actividad a la cesta</button>
            <div *ngIf="!isActivityAvailable" class="error col-md-12">
              <p>Ya ha comprado este producto, por favor revise el apartado de <a [routerLink]="['/profile']">Ver Perfil</a> para ver los detalles</p>
            </div>
            <div *ngIf="!isActivityAvailableByLvl" class="error col-md-12" style="color: red;">
              <p>Ud. es {{user.level}}. Aún no tiene el nivel requerido para este producto</p>
            </div>
          </div>
          <div *ngIf="isInCart" class="error col-md-12">
            El Producto se encuentra en su carrito
          </div>

          <div *ngIf="isAdmin" class="d-flex justify-content-center align-items-end row">
            <div class="form-group col-md-6">
                <label>Fecha de inicio:</label>
                <input type="date" class="form-control" [value]="formatDate(activity.time_starts)" (change)="onDateChange1($event.target, activity)">
            </div>
            <div class="form-group col-md-6">
                <label>Fecha de fin:</label>
                <input type="date" class="form-control" [value]="formatDate(activity.time_ends)" (change)="onDateChange2($event.target, activity)">
            </div>
          </div>
        
        </div>
      </div>

      <div *ngIf="isItem" class="product-info mt-5 square">
        <h5>Peso neto: {{item.weight}} kg</h5>
        <p [class]="{'text-success': item.stock > 0, 'text-danger': item.stock <= 0 }">{{ item.stock > 0 ? 'En stock' :
          'Sin stock' }}</p>
        <div class="row align-items-center">
          <div class="col-md-6">
            <button class="btn btn-warning mb-3" *ngIf="!isLogged()" data-bs-toggle="offcanvas" data-bs-target="#login"
              [disabled]="item.stock<=0">Añadir artículo a la cesta</button>
            <button class="btn btn-warning mb-3" *ngIf="isLogged()" (click)="addToCart(item)"
              [disabled]="item.stock<=0 || isInCart">Añadir artículo a la cesta</button>
          </div>
          <div class="col-md-6">
            <select *ngIf="item.stock>0" (change)="setQuantity($event.target)" class="form-select">
              <option *ngFor="let i of [1,2,3,4,5]" [value]="i">{{i}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="isInCart" class="error text-center text-success col-md-12">
          El producto ya se encuentra en su carrito
        </div>
      </div>
    </div>
    <div class="mb-5" #valoracionesDiv id="valoraciones">

    </div>
    <div class="container top">
      <div *ngIf="totalAssessmts==0">
        <h3>No hay valoraciones para este producto</h3>
      </div>
      <div *ngIf="totalAssessmts>0">
        <div class="row d-flex align-items-center">
          <h3 class="col-md-8">Valoraciones del producto</h3>
          <span class="rating-count col-md-4">({{totalAssessmts}} valoraciones)</span>
        </div>

        <div class="ratings mt-4 gap-3">
          <select class="form-select ms-auto mb-5" (change)="switchMode($event.target)">
            <option value="new">Más recientes</option>
            <option value="old">Más antiguas</option>
            <option value="best">Mejor valoraciones</option>
            <option value="worst">Peor valoraciones</option>
          </select>
          <div *ngFor="let assessment of assessments">
            <div class="d-flex justify-content-between">
              <span>Por {{assessment.user.nickname}}:</span>
              <span class="date">Publicado el {{parseDate(assessment.date)}}</span>
            </div>
            <div class="rating-stars mt-3" *ngFor="let star of [1,2,3,4,5]">
              <span class="star me-2" [ngClass]="{'filled': star <= assessment.stars}">&#9733;</span>
            </div>

            <span class="rating-value rate">({{assessment.stars}}/5)</span><br>
            <span><i>{{assessment.content}}</i></span>
            <hr class="mt-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-now">
  <a [routerLink]="['/contact']" class="btn btn-info btn-contact-now"><i class="fa fa-phone"></i></a>
</div>

<app-footer />