.offcanvas {
  width: 35%; 
  border: 5px solid rgb(0, 179, 255); 
  background-color: rgb(255, 255, 255);
}

@media only screen and (min-width: 1025px) {
  .offcanvas {
    width: 45%;  
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .offcanvas {
    width: 75%;  
  }
}

@media only screen and (max-width: 600px) {
  .offcanvas {
    width: 100%;  
  }
}