.background-image {
    background-image: url("../../assets/img/2r2tmv.png");
    background-repeat: repeat;
}

.container{
    margin-top: 100px;
}

h1 {
    text-align: center;
}

.contact-area{
    width: 50%;
}

.text-danger{
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
    border: none;
    border-radius: 40px;
}

.fade{
    position: relative;
    z-index: 1000;
}
