.container{
    margin-top: 100px;
}

img{
    width: 200px;
    object-fit: contain;
}

.contact-now .btn-contact-now {
    position: fixed;
    bottom: 3rem;
    right: 1.625rem;
    box-shadow: 0 1px 20px 1px #1d4aff;
    border-radius: 50px;
}

.contact-now .btn-contact-now:hover {
    box-shadow: none
}

.showOtherTable {
    display: none;
}

.showtable{
    display: block;
}

@media only screen and (max-width: 800px) {
    .showOtherTable {
        display: block;
    }

    .showtable{
        display: none;
    }

    img{
        width: 100%;
        object-fit: contain;
    }
}