p{
    font-size: 40px;
}

td{
    font-size: 10px;
}

.password{
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

