h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    margin-top: 100px;
}

.container-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}
